:root {
  /* Dark Theme Colors */
  --dark-background: #1a1111;
  --dark-error: #ffb4ab;
  --dark-error-container: #93000a;
  --dark-inverse-on-surface: #382e2e;
  --dark-inverse-primary: #8f4a4c;
  --dark-inverse-surface: #f0dede;
  --dark-on-background: #f0dede;
  --dark-on-error: #690005;
  --dark-on-error-container: #ffdad6;
  --dark-on-primary: #561d21;
  --dark-on-primary-container: #ffdad9;
  --dark-on-primary-fixed: #3b080e;
  --dark-on-primary-fixed-variant: #733336;
  --dark-on-secondary: #44292a;
  --dark-on-secondary-container: #ffdad9;
  --dark-on-secondary-fixed: #2c1516;
  --dark-on-secondary-fixed-variant: #5d3f3f;
  --dark-on-surface: #f0dede;
  --dark-on-surface-variant: #d7c1c1;
  --dark-on-tertiary: #422c05;
  --dark-on-tertiary-container: #ffddaf;
  --dark-on-tertiary-fixed: #281800;
  --dark-on-tertiary-fixed-variant: #5b421a;
  --dark-outline: #a08c8c;
  --dark-outline-variant: #524343;
  --dark-primary: #ffb3b4;
  --dark-primary-container: #733336;
  --dark-primary-fixed: #ffdad9;
  --dark-primary-fixed-dim: #ffb3b4;
  --dark-scrim: #000000;
  --dark-secondary: #e6bdbc;
  --dark-secondary-container: #5d3f3f;
  --dark-secondary-fixed: #ffdad9;
  --dark-secondary-fixed-dim: #e6bdbc;
  --dark-shadow: #000000;
  --dark-surface: #1a1111;
  --dark-surface-bright: #413736;
  --dark-surface-container: #271d1d;
  --dark-surface-container-high: #322827;
  --dark-surface-container-highest: #3d3232;
  --dark-surface-container-low: #221919;
  --dark-surface-container-lowest: #140c0c;
  --dark-surface-dim: #1a1111;
  --dark-surface-tint: #ffb3b4;
  --dark-surface-variant: #524343;
  --dark-tertiary: #e5c18d;
  --dark-tertiary-container: #5b421a;
  --dark-tertiary-fixed: #ffddaf;
  --dark-tertiary-fixed-dim: #e5c18d;
  /* Light Theme Colors */
  --light-background: #fff8f7;
  --light-error: #ba1a1a;
  --light-error-container: #ffdad6;
  --light-inverse-on-surface: #ffedec;
  --light-inverse-primary: #ffb3b4;
  --light-inverse-surface: #382e2e;
  --light-on-background: #221919;
  --light-on-error: #ffffff;
  --light-on-error-container: #410002;
  --light-on-primary: #ffffff;
  --light-on-primary-container: #3b080e;
  --light-on-primary-fixed: #3b080e;
  --light-on-primary-fixed-variant: #733336;
  --light-on-secondary: #ffffff;
  --light-on-secondary-container: #2c1516;
  --light-on-secondary-fixed: #2c1516;
  --light-on-secondary-fixed-variant: #5d3f3f;
  --light-on-surface: #221919;
  --light-on-surface-variant: #524343;
  --light-on-tertiary: #ffffff;
  --light-on-tertiary-container: #281800;
  --light-on-tertiary-fixed: #281800;
  --light-on-tertiary-fixed-variant: #5b421a;
  --light-outline: #857373;
  --light-outline-variant: #d7c1c1;
  --light-primary: #8f4a4c;
  --light-primary-container: #ffdad9;
  --light-primary-fixed: #ffdad9;
  --light-primary-fixed-dim: #ffb3b4;
  --light-scrim: #000000;
  --light-secondary: #775656;
  --light-secondary-container: #ffdad9;
  --light-secondary-fixed: #ffdad9;
  --light-secondary-fixed-dim: #e6bdbc;
  --light-shadow: #000000;
  --light-source-color: #b34049;
  --light-surface: #fff8f7;
  --light-surface-bright: #fff8f7;
  --light-surface-container: #fceae9;
  --light-surface-container-high: #f6e4e3;
  --light-surface-container-highest: #f0dede;
  --light-surface-container-low: #fff0f0;
  --light-surface-container-lowest: #ffffff;
  --light-surface-dim: #e8d6d5;
  --light-surface-tint: #8f4a4c;
  --light-surface-variant: #f4dddd;
  --light-tertiary: #755a2f;
  --light-tertiary-container: #ffddaf;
  --light-tertiary-fixed: #ffddaf;
  --light-tertiary-fixed-dim: #e5c18d;
}
