/* Dark Theme SCSS */
$dark-background: #16130b;
$dark-error: #ffb4ab;
$dark-error-container: #93000a;
$dark-inverse-on-surface: #343027;
$dark-inverse-primary: #735c0c;
$dark-inverse-surface: #eae1d4;
$dark-on-background: #eae1d4;
$dark-on-error: #690005;
$dark-on-error-container: #ffdad6;
$dark-on-primary: #3d2f00;
$dark-on-primary-container: #ffe089;
$dark-on-primary-fixed: #241a00;
$dark-on-primary-fixed-variant: #574400;
$dark-on-secondary: #393016;
$dark-on-secondary-container: #f1e1bb;
$dark-on-secondary-fixed: #221b04;
$dark-on-secondary-fixed-variant: #50462a;
$dark-on-surface: #eae1d4;
$dark-on-surface-variant: #cfc6b4;
$dark-on-tertiary: #19371f;
$dark-on-tertiary-container: #c8ecc9;
$dark-on-tertiary-fixed: #03210c;
$dark-on-tertiary-fixed-variant: #2f4d34;
$dark-outline: #989080;
$dark-outline-variant: #4c4639;
$dark-primary: #e2c46d;
$dark-primary-container: #574400;
$dark-primary-fixed: #ffe089;
$dark-primary-fixed-dim: #e2c46d;
$dark-scrim: #000000;
$dark-secondary: #d5c5a1;
$dark-secondary-container: #50462a;
$dark-secondary-fixed: #f1e1bb;
$dark-secondary-fixed-dim: #d5c5a1;
$dark-shadow: #000000;
$dark-surface: #16130b;
$dark-surface-bright: #3d392f;
$dark-surface-container: #231f17;
$dark-surface-container-high: #2d2a21;
$dark-surface-container-highest: #38342b;
$dark-surface-container-low: #1f1b13;
$dark-surface-container-lowest: #110e07;
$dark-surface-dim: #16130b;
$dark-surface-tint: #e2c46d;
$dark-surface-variant: #4c4639;
$dark-tertiary: #adcfae;
$dark-tertiary-container: #2f4d34;
$dark-tertiary-fixed: #c8ecc9;
$dark-tertiary-fixed-dim: #adcfae;

/* Light Theme SCSS */
$light-background: #fff8f0;
$light-error: #ba1a1a;
$light-error-container: #ffdad6;
$light-inverse-on-surface: #f8f0e2;
$light-inverse-primary: #e2c46d;
$light-inverse-surface: #343027;
$light-on-background: #1f1b13;
$light-on-error: #ffffff;
$light-on-error-container: #410002;
$light-on-primary: #ffffff;
$light-on-primary-container: #241a00;
$light-on-primary-fixed: #241a00;
$light-on-primary-fixed-variant: #574400;
$light-on-secondary: #ffffff;
$light-on-secondary-container: #221b04;
$light-on-secondary-fixed: #221b04;
$light-on-secondary-fixed-variant: #50462a;
$light-on-surface: #1f1b13;
$light-on-surface-variant: #4c4639;
$light-on-tertiary: #ffffff;
$light-on-tertiary-container: #03210c;
$light-on-tertiary-fixed: #03210c;
$light-on-tertiary-fixed-variant: #2f4d34;
$light-outline: #7d7667;
$light-outline-variant: #cfc6b4;
$light-primary: #735c0c;
$light-primary-container: #ffe089;
$light-primary-fixed: #ffe089;
$light-primary-fixed-dim: #e2c46d;
$light-scrim: #000000;
$light-secondary: #695d3f;
$light-secondary-container: #f1e1bb;
$light-secondary-fixed: #f1e1bb;
$light-secondary-fixed-dim: #d5c5a1;
$light-shadow: #000000;
$light-source-color: #e9d7ab;
$light-surface: #fff8f0;
$light-surface-bright: #fff8f0;
$light-surface-container: #f5eddf;
$light-surface-container-high: #efe7d9;
$light-surface-container-highest: #eae1d4;
$light-surface-container-low: #fbf3e5;
$light-surface-container-lowest: #ffffff;
$light-surface-dim: #e1d9cc;
$light-surface-tint: #735c0c;
$light-surface-variant: #ebe1cf;
$light-tertiary: #47664a;
$light-tertiary-container: #c8ecc9;
$light-tertiary-fixed: #c8ecc9;
$light-tertiary-fixed-dim: #adcfae;

