@import url("/home/tinker/.cache/wal/colors-waybar.css");
/* @import url("colors.css"); */


* {
  border: @color4;
  border-radius: 7px;
  font-family: "0xProto Nerd Font Propo";
  font-size: 12px;
  min-height: 0;
}

tooltip {
  background-color: alpha(@background, 0.99);
  color: @foreground;
  border-radius: 7px;
  border: 1px solid alpha(@color3, 0.9);
}

tooltip * {
  color: @color7;
}

window#waybar {
  color: @foreground;
  padding: 2px 4px 2px 4px;
  border: 1px solid alpha(@color3, 0.9);
}


window#waybar.empty {
  background: transparent; 
}


#window {
  background-color: alpha(@color0, 0.90);
  padding: 2px 10px;
  margin: 2px 0px 2px 0px;
  border-radius: 7px;
  font-weight: bold;
  color: @color7;
  border: 1px solid alpha(@color3, 0.9);
}

window#waybar.empty #window {
  background: alpha(@background, 0.50);
}

window#waybar.hidden,
window#waybar.empty {
  background: alpha(@background, 0.50);
}

#win,
#cpu,
#tray,
#clock,
#clock-date,
#pulseaudio,
#custom-memory,
#custom-cpuinfo,
#bluetooth,
#language,
#taskbar,
#temperature,
#upower,
#hardware,
#dropper,
#custom-brave,
#custom-steam,
#custom-discord,
#custom-files,
#custom-heroic,
#custom-gpuinfo,
#custom-updates,
#custom-nettraf,
#custom-player,
#custom-power,
#custom-recorder,
#network,
#custom-weather,
#power-profiles-daemon,
#custom-audio_idle_inhibitor,
#idle_inhibitor {
  background-color: alpha(@color0, 0.90);
  padding: 2px 10px;
  margin: 2px 0px 2px 0px;
  border-radius: 7px;
  border: 1px solid alpha(@color3, 0.9);
  font-weight: bold;
  color: @color7;
}

#custom-notification {
  background-color: alpha(@color0, 0.90);
  padding: 2px;
  margin: 2px 0px 2px 0px;
  border-radius: 7px;
  border: 1px solid alpha(@color3, 0.9);
  font-weight: bold;
  color: @color7;
  font-size: 15px;
  min-width: 20px;
}

#hardware {
  background-color: alpha(@color0, 0.90);
  padding: 2px 10px;
  margin: 2px 0px 2px 0px;
  border-radius: 7px;
  border: 1px solid alpha(@color3, 0.9);
  font-weight: bold;
  color: @color7;
  font-size: 20px;
  min-width: 10px;
}

#custom-layout,
#custom-drop {
  background-color: alpha(@color0, 0.90);
  padding: 2px 10px;
  margin: 2px 0px 2px 0px;
  border-radius: 7px;
  border: 1px solid alpha(@color3, 0.9);
  font-weight: bold;
  color: @color7;
  font-size: 15px;
  min-width: 15px;
}

#bluetooth {
  font-size: 15px;
}

#cpu:hover,
#clock:hover,
#dropper:hover,
#network:hover,
#menuitem:hover,
#language:hover,
#hardware:hover,
#bluetooth:hover,
#pulseaudio:hover,
#custom-brave:hover,
#custom-steam:hover,
#custom-files:hover,
#custom-heroic:hover,
#custom-memory:hover,
#idle_inhibitor:hover,
#custom-updates:hover,
#custom-cpuinfo:hover,
#custom-gpuinfo:hover,
#custom-discord:hover,
#custom-notification:hover,
#power-profiles-daemon:hover,
#custom-audio_idle_inhibitor:hover {
  background-color: @color4;
  color: @background;
}

#bluetooth.connected {
  color: #89dceb;
}

#bluetooth.disabled {
  color: #ef4444;
}

#network {
  color: @color7;
  font-size: 18px;
  margin: 2px 0px 2px 0px;
}

#network.disconnected {
  color: @color1;
}

#pulseaudio {
  color: @color7;
}

#pulseaudio.muted {
  background-color: @color6;
  color: @color0;
  font-size: 15px;
}

#custom-power {
  color: @color7;
  /* color: #f38ba8; */
  font-size: 16px;
  margin: 2px 0px 2px 0px;
}

#custom-power:hover {
  background-color: @color4;
  color: @background;
}

#custom-drop:hover {
  background-color: @color4;
  color: @background;
}

#custom-recorder.recording {
  background: #F65C13;
  color: #fff;
  padding: 2px 12px;
  margin: 2px 0px 2px 0px;
  border-radius: 7px;
}

#power-profiles-daemon,
#idle_inhibitor {
  min-width: 15px;
  font-size: 14px;
}

/* ========== Workspaces ========== */

#workspaces {
  background-color: alpha(@color0, 0.9);
  border-radius: 9px;
  border: 1px solid alpha(@color3, 0.90);
  padding: 0;
  padding: 2px;
  margin: 2px 0px 2px 0px;
}

#workspaces button {
  background-color: alpha(@color0, 0.90);
  color: white;
  padding: 2px 4px;
  margin: 2px 2px 2px 2px;
  border-radius: 7px;
  border: 1px solid alpha(@color3, 0.90);
  font-size: 20px;
  min-width: 30px;
  font-weight: bold;
  transition: all 0.2s ease-in-out;
}

#workspaces button:hover {
  background-color: @color4;
  color: @color0;
}

#workspaces button.focused {
  background-color: @color7;
  color: @background;
}

#workspaces button.active {
  background-color: @color11;
  color: white;
}

#workspaces button.urgent {
  background-color: #ef4444;
  color: @background;
  animation: all 0.2s ease-in-out;
}

/* ========== Tray ========== */
#tray {
  margin: 2px 0px 2px 0px;
}

/* ========== Menus ========== */
menu {
  border-radius: 7px;
  border: 1px solid alpha(@color3, 0.90);
  background: @background;
  color: @color15;
}

menuitem {
  color: @color7;
  border: 1px solid alpha(@color3, 0.90);
  margin: 2px;
  padding: 0 5px;
}
