@import url("/home/tinker/.cache/wal/colors-waybar.css");

/* ========== Base Styles ========== */
* {
  border: @color0;
  border-radius: 7px;
  font-family: "0xProto Nerd Font Propo";
  font-size: 12px;
  min-height: 0;
}

/* ========== Tooltip ========== */
tooltip {
  background-color: alpha(@background, 0.99);
  color: @foreground;
  border-radius: 7px;
  border: 1px solid alpha(@color4, 0.3);
}

tooltip * {
  color: @color7;
}

/* ========== Waybar Window ========== */
window#waybar {
  background: transparent;
  color: @foreground;
}

window#waybar.empty {
  background: none;
}


/* ========== Module Blocks ========== */
#window {
  background-color: alpha(@color0, 0.45);
  padding: 2px 10px;
  margin: 2px 0px 2px 0px;
  border-radius: 7px;
  border: 1px solid alpha(@color4, 0.3);
  font-weight: bold;
  color: @color7;
}

window#waybar.empty #window {
  background: none;
  border: none;

}


#clock,
#clock-date,
#pulseaudio,
#custom-memory,
#custom-cpuinfo,
#cpu,
#bluetooth,
#language,
#temperature,
#upower,
#tray,
#custom-gpuinfo,
#custom-updates,
#custom-power,
#custom-recorder,
#network,
#custom-weather,
#power-profiles-daemon,
#custom-audio_idle_inhibitor,
#idle_inhibitor {
  background-color: alpha(@color0, 0.45);
  padding: 2px 10px;
  margin: 2px 0px 2px 0px;

  border-radius: 7px;
  border: 1px solid alpha(@color4, 0.3);
  font-weight: bold;
  color: @color7;
}

#custom-notification {
  background-color: alpha(@color0, 0.45);
  padding: 2px;
  margin: 2px 0px 2px 0px;

  border-radius: 7px;
  border: 1px solid alpha(@color4, 0.3);
  font-weight: bold;
  color: @color7;
  font-size: 12px;
  min-width: 10px;
}

#custom-drop {
  background-color: alpha(@color0, 0.45);
  padding: 2px 10px;
  margin: 2px 0px 2px 0px;

  border-radius: 7px;
  border: 1px solid alpha(@color4, 0.3);
  font-weight: bold;
  color: @color7;
  font-size: 15px;
  min-width: 15px;
}


/* ========== Module-Specific Colors ========== */
#network {
  color: #89dceb;
  font-size: 18px;
  margin: 2px 0px 2px 0px;

}

#network.disconnected {
  color: @color1;
}

#pulseaudio {
  color: @color7;
}

#pulseaudio.muted {
  background-color: @color6;
  color: @color0;
  font-size: 15px;
}

#custom-power {
  color: #f38ba8;
  font-size: 16px;
  margin: 2px 0px 2px 0px;

}


#custom-drop:hover {
  background-color: @color6;
  color: @background;
}

#custom-recorder.recording {
  background: #F65C13;
  color: #fff;
  padding: 2px 12px;
  margin: 2px 0px 2px 0px;

  border-radius: 7px;
}

#power-profiles-daemon {
  min-width: 15px;
}

/* ========== Workspaces ========== */

#workspaces button {
  background-color: alpha(@color0, 0.45);
  color: @color7;
  padding: 2px 4px;
  margin: 2px 0px 2px 0px;
  border-radius: 7px;
  border: 1px solid alpha(@color4, 0.3);
  font-size: 13px;
  min-width: 30px;
  font-weight: bold;
  transition: all 0.2s ease-in-out;
}

#workspaces button:hover {
  background-color: @color7;
  color: @foreground;
}

#workspaces button.focused {
  background-color: @color7;
  color: @background;
}

#workspaces button.active {
  background-color: @color6;
  color: @background;
}

#workspaces button.urgent {
  background-color: #ef4444;
  color: @background;
  animation: all 0.2s ease-in-out;
}

/* ========== Tray ========== */
#tray {
  margin: 2px 0px 2px 0px;
}

/* ========== Menus ========== */
menu {
  border-radius: 7px;
  border: 1px solid alpha(@color4, 0.3);
  background: @background;
  color: @color15;
}

menuitem {
  color: @color7;
  border: 1px solid alpha(@color4, 0.3);
  margin: 2px;
  padding: 0 5px;
}
