@import "~/.config/rofi/launchers/themes/matugen.rasi"

configuration {
    show-icons: true;
    display-drun: " Select Wallpaper";
    drun-display-format: "{name}";
}

* {
    font: "0xProto Nerd Font Propo 10";
}

window {
    width: 1250px;
    height: 750px;
    background-color: var(surface-container);
    border: 2px;
    border-color: var(outline);
    border-radius: 7px;
    padding: 20px;
}

mainbox {
    background-color: transparent;
    spacing: 15px;
}

inputbar {
  enabled: true;
  spacing: 10px;
  padding: 10px;
  border-radius: 7px;
  background-color: @on-primary;
  text-color: @primary;
  children: [ "textbox-prompt-colon", "entry"];
}

#entry {
  spacing: 0;
  text-color: @normal-foreground;
  background-color: @surface;
  border-radius: 7px;
  spacing: 4px;
  padding: 4px;
}

textbox-prompt-colon {
  enabled: true;
  expand: false;
  padding: 5px;
  border-radius: 7px;
  str: " 󰸉 ";
  background-color: @background;
  text-color: @primary;
}

message {
    background-color: var(surface-container-low);
    border-radius: 7px;
    padding: 8px 12px;
    margin: 0 0 10px 0;
}

textbox {
    text-color: var(on-surface-variant);
    background-color: transparent;
}

listview {
    columns: 5;
    lines: 4;
    flow: horizontal;
    cycle: true;
    scrollbar: false;
    spacing: 5px;
    background-color: transparent;
}

element {
    orientation: vertical;
    padding: 12px;
    border-radius: 7px;
    background-color: var(surface-container-high);
    border: 2px;
    border-color: transparent;
}

element selected {
    background-color: var(primary-container);
    border-color: var(primary);
}

element-icon {
    size: 16em;
    border-radius: 7px;
    background-color: var(surface-container-lowest);
}

element-text {
    horizontal-align: 0.5;
    vertical-align: 0.5;
    text-color: var(on-surface);
    background-color: transparent;
    margin: 8px 0 0 0;
}

element selected.normal {
    background-color: var(primary-container);
    border-color: var(primary);
}

element-text selected {
    text-color: var(on-primary-container);
}
